html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292736;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.barratituloMax {
  position: sticky;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: #21222c;
  padding: 10px 0px 10px 0px;
  border-radius: 5px 5px 0px 0px;
}

.barratituloMin {
  position: fixed;
  bottom: 0;
  width: 50%;

  display: flex;
  justify-content: space-between;
  background-color: #21222c;
  padding: 10px 0px 10px 0px;
  border-radius: 5px 5px 0px 0px;
}

header > div,
header > a {
  margin: 0px 10px 0px 10px;
}

.janela {
  color: #f8f8ec;
  padding: 10px 0px 0px 15px;
  overflow: auto;
}

header a {
  color: #afafaf;
  text-decoration: none;
  font-weight: bold;
}

.primaryColor {
  color: #69ff8e;
}

.secondaryColor {
  color: #ba99e4;
}

.botao {
  height: 1.5em;
}
